LM/XSD/XSD_Examen_Recu.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<!-- Elementos simples definidos por el usuario -->
    <xs:simpleType name="empty">
        <xs:restriction base="xs:string">
            <xs:length value="0"/>
        </xs:restriction>
    </xs:simpleType>
<!-- Elementos simples -->

<!-- Atributos -->
    <xs:attribute name="fechaPublicacion">
        <xs:simpleType>
            <xs:restriction nase="xs:string">
                <xs:pattern value="(([0][1-9])|([1-2][0-9])|([3][0-1]))\/(([0][1-9])|([1][0-2]))\/(([1][8-9][0-9]{2})|([2][0-9]{3}))"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
<!-- Elementos compuestos por el usuario -->


<!-- Elementos compuestos -->
<xs:element name="version" type="empty"/>
<xs:element name="licencia" type="empty"/>
<xs:element name="programa">
    <xs:complexType>
        <xs:sequence minOccurs="1" maxOccurs="unbounded">
            <xs:element ref="version"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>

</xs:schema>
